{% extends 'master.html' %}

{% block titulo %}
Top 10 juegos más populares
{% endblock %}

{% block contenido %}

    {% for juego in juegos %}
        <div class="position-relative mb-4">
            <div class="position-absolute start-0"
                style="z-index: 10; margin-left: -25px; top: 5%;">

                <span class="d-flex align-items-center justify-content-center
                            fw-bold text-white bg-primary rounded-circle shadow"
                    style="width: 50px; height: 50px;">
                    {{ forloop.counter }}
                </span>
            </div>
            
            {% include "game_card.html" %}
        </div>
    {% endfor %}

{% endblock %}